.maindiv{ 
    padding: 50px 20px; 
    display: flex; 
    justify-content: space-between;
    align-items: center;
}
.right{ 
    width: 50%; 
    text-align: center;   
}
.title{
    font-size: 34px;
    font-weight: 800;
    margin-bottom: 20px;
}
.getstarted{ 
    color:  #F0F3FA;
    background-color: #00246B;
    border: 1px solid #00246B; 
    border-radius: 10px;
    font-size: 16px; 
    padding: 10px 20px; 
    cursor: pointer;
}