.sectiontitle{
    font-size: 30px; 
    font-weight: 800;
    text-align: center;
    margin-bottom: 50px;
}
.titlelist{
    display: flex;
    justify-content: center;
    gap: 100px;
}
.title{
    cursor: pointer;
    font-size: 18px;
    font-weight: 600;
    padding: 10px;
    border: 1px solid #00206B;
    border-radius: 10px;
}
.titleactive{
    background-color: #00206B;
    color: white;
    cursor: pointer;
    font-size: 18px;
    font-weight: 600;
    padding: 10px;
    border-radius: 10px;

}

/* Testimonial Boxes */
.testimonialdiv{
    display: flex; 
    justify-content: center;
    gap: 100px;
    margin-top: 64px;
}
.box{
    border: 2px solid #00206B; 
    border-radius: 10px; 
    width: 350px; 
    padding: 20px; 
}
.info{
    display: flex; 
    gap: 16px;
    margin-bottom: 8px;
}
.name{
    font-size: 18px; 
    font-weight: 700;
    margin-bottom: 7px;
}
.jobtitle{
    font-size: 16px; 
    font-weight: 600;
    margin-bottom: 7px;
}
.line{
    height: 2px;
    background-color: #00206B;
    margin-bottom: 10px;
}
.content{
    font-size: 16px; 
    font-weight: 500;
    line-height: 30px;   
}