@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
:root{
    --main-bg-color : #F0F3FA;
    --main-text-color : #00246B;
}
html {
    font-size: 10px;
}
  
body {
    background-color: var(--main-bg-color);
    font-size: 14px;
    font-family: "Open Sans", sans-serif;
    color: var(--main-text-color) ;
    font-weight: normal;
    line-height: normal;
}

.initial-container {
    max-width: 128rem !important;
    margin: 0 auto;
}

.login_button{
    @apply border-2 border-[#00246B] py-4 px-8 rounded-lg font-bold
}

.login_button:active,
.login_button:hover {
    @apply bg-[#00246B] text-[#F0F3FA] duration-500
}

.get_started_button {
    @apply border-2 border-[#00246B] bg-[#00246B] text-[#F0F3FA] py-4 px-8 rounded-lg font-bold
}


